.vscode
.vscode-test
coverage
node_modules
.gitignore
.npmignore
tsconfig.json
.log
.github
src
test
coverage
jr
types
example
.idea
jest.config.ts
tsconfig.spec.json
.prettierrc.json
CHANGELOG.md
LICENSE
.eslintrc.json